<div id="about" class="row no-gutters">
  <div class="col-md-6">
    <img src="./images/courier_img5.jpg" alt="" class="img-fluid pr-3">
  </div>
  <div class="col-md-6 p-3">
    <h3>Our Story</h3>
    <p>
      Atlanta Courier and Transportation Service LLC has been known for quality services, exceptional efficiency and the
      highest level of professionalism. No matter what service you’re looking for, our goal is to not only meet, but
      exceed
      your expectations and ensure your full satisfaction.
    </p>
    <p>
      If it's deliveries, junk that needs to be removed, relocating
      and
      need moving services or general freight that you need hauled we're only a call away. For requests please call or
      email.
    </p>
  </div>
</div>