<div id="company-info" class="row no-gutters">
  <p class="text-center col-md-4"><i class="fas fa-map-marker-alt"></i> Atlanta, GA</p>
  <p class="text-center col-md-4"><i class="fas fa-envelope"></i> atlcourierandtrans@gmail.com</p>
  <p class="text-center col-md-4"><i class="fas fa-phone-square"></i> 404.821.8509</p>
</div>