<div class="bg-warning">
    <h5 class="text-center pb-1 pt-3">HomeGuide Certified</h5>
    <div class="d-flex justify-content-center">
        <a class="mb-3" href="https://homeguide.com/ga/atlanta/storage-units/" target="_blank">
            <img src="//cdn.homeguide.com/assets/images/tmp/homeguide-2021.png" width="150">
        </a>
    </div>
</div>