<div id="services">
  <h3 class="text-center">SERVICES</h3>
  <div id="outer-services-row-div">
    <div class="row">
      <div class="col-md-6">
        <div class="card" id="commercial">
          <div class="card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title">Commercial</h5>
            <p class="card-text">AC&T, is your answer when it comes to a partner for relocating employees.</p>
            <p class="text-center">
              <button class="btn btn-primary btn-block">Learn More</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="residential">
          <div class="card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title">Residential</h5>
            <p class="card-text">With proper planning and a great moving service, your local move can be hassle-free</p>
            <p class="text-center">
              <button class="btn btn-primary btn-block">Learn More</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>